@import '../../utils/variables';
@import '../../utils/mixins';

.modal--container {
  border: none;
  figure {
    border-radius: 4px;
    background: $color-primary;
    height: 8rem;
    display: grid;
    place-items: center;
    h3 {
      text-align: center;
      color: white;
    }
  }

  .modal--form--box {
    padding: 2rem;
    .modal--form--lable {
      display: block;
      padding: 0.5rem 0;
      display: flex;

      .modal--lable--name {
        font-size: 1rem;
        font-weight: bold;
        width: 25%;

        .modal--lable--option {
          font-size: 0.7rem;
          font-weight: lighter;
        }
      }

      .modal--inputbox {
        outline: none;
        padding: 0.5rem;
        width: 80%;

        border: none;
        border-bottom: 1px solid rgb(68, 63, 63);
      }
    }
    button {
      margin-top: 1.2rem;
      @include buttonPrimary();
    }
  }
}

.modal-content {
  border: none !important;
  border-radius: 4px;
}
