//import variables

@import '../../utils/variables';
@import '../../utils/mixins';

//hero image section
.technology--hero {
  background: url('../../../assets//images//HeroConsulting.jpg');
  height: 30vw;
  background-size: cover;
  display: grid;
  place-items: center;

  .hero--content {
    width: 65%;
    text-align: center;

    h1 {
      line-height: $h1;
      color: $color-secondary;
      text-shadow: 1px 2px 6px #0505056e;
    }
    h6 {
      margin: 1.5rem;
      color: $color-secondary;
      text-shadow: 1px 2px 6px #0505056e;
    }

    button {
      @include buttonSecondary();
    }
  }
}

// cards section
.technology--product--display {
  width: $grid-width;
  margin: 2rem auto;
  h2 {
    text-align: center;
    margin: 8rem 0;
  }
  h3 {
    margin: 2rem 0;
    position: relative;

    &::after {
      @include Underline();
    }
  }

  .card--wrapper {
    .product--cards {
      box-shadow: 1px 2px 6px rgba(17, 8, 41, 0.253);
      border-radius: 20px;
      margin: 1rem;
      padding: 0;
      text-align: center;

      .image--container {
        padding: 1rem !important;

        figure {
          border-radius: 20px;
          overflow: hidden;
          margin: 0;
          img {
            width: 100%;
          }
        }
      }

      h5 {
        padding: 0 1rem;
        text-align: left;
      }

      p {
        padding: 0 1rem;
        text-align: left;
        margin: 0;
        height: 9rem;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      button {
        outline: none;
        @include buttonPrimary();
        border-radius: 50px;
        margin: 0.8rem;
      }
    }
  }
}
