@import '../../utils/variables';
@import '../../utils/mixins';

.whykibog-main {
  width: $grid-width - 35%;
  margin: 0 auto;
  box-shadow: 2px 2px 6px rgb(189, 184, 184);

  h3 {
    padding: 2rem;
  }

  figure {
    background: $color-primary;
    height: 8rem;
    h3 {
      color: white;
    }
  }

  .form--box {
    padding: 2rem;
    .form--lable {
      display: block;
      padding: 0.5rem 0;
      display: flex;

      .lable--name {
        font-size: 1rem;
        font-weight: bold;
        width: 25%;

        .lable--option {
          font-size: 0.7rem;
          font-weight: lighter;
        }
      }

      .inputbox {
        width: 60%;

        border: none;
        border-bottom: 1px solid rgb(68, 63, 63);
      }
    }
  }
}
